.about-container {
  background-color: #1a5480;
  padding: 70px;
  border-radius: 10px;
  text-align: center;
}

.about-container h2 {
  color: #0c0a0a;
  font-size: 28px;
  text-align: center;
}

.about-container p {
  font-size: 18px;
  color: #371990;

}
